.side-bar
  .sub-title ゲーム一覧
  %ul.sub-content-menu
    %li.game-item
      .game-icon
        = image_tag asset_path("games/grablu/grablu-icon.png"), class: "icon", id: "side-grablu", onclick: "scrollToTop()"
      .game-title グランブルーファンタジー
    %li.game-item
      .game-icon
        = image_tag asset_path("games/shadowverse/shadowverse-icon.png"), class: "icon", id: "side-shadowverse", onclick: "scrollToTop()"
      .game-title シャドウバース
    %li.game-item
      .game-icon
        = image_tag asset_path("games/priconne/priconne-icon.png"), class: "icon", id: "side-priconne", onclick: "scrollToTop()"
      .game-title プリンセスコネクト! Re:Dive
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/fankill-icon.png"), class: "icon", id: "side-fankill", onclick: "scrollToTop()"
      .game-title ファントムオブキル
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/fgo-icon.png"), class: "icon", id: "side-fgo", onclick: "scrollToTop()"
      .game-title Fate/Grand Order
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/pazdra-icon.png"), class: "icon", id: "side-pazdra", onclick: "scrollToTop()"
      .game-title パズル＆ドラゴンズ
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/monst-icon.png"), class: "icon", id: "side-monst", onclick: "scrollToTop()"
      .game-title モンスターストライク
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/dqwalk-icon.png"), class: "icon", id: "side-dqwalk", onclick: "scrollToTop()"
      .game-title ドラクエウォーク
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/yugioh-icon.png"), class: "icon", id: "side-yugioh", onclick: "scrollToTop()"
      .game-title 遊戯王 デュエルリンクス
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/soa-icon.png"), class: "icon", id: "side-soa", onclick: "scrollToTop()"
      .game-title STAR OCEAN anamnesis
